body {
    font-family: 'Roboto';
}

.is-spaced {
    padding: 1rem 2rem;
}

.brand-trail {
    font-family: 'Karla';
    font-weight: 700;
    
    letter-spacing: -3px;
}

.merri-title {
    font-family: 'Merriweather';
    font-weight: 700;
    letter-spacing: -2px;
}

a {
    font-family: 'Roboto';
}

.merriweather {
    font-family: 'Merriweather';
}

.robo {
    font-family: 'Roboto';
    font-weight: 700;
}


.icon-btn {
    margin-right: 10px !important;
    margin-bottom: 2px !important;
    vertical-align: middle !important;
}

.icon-btn-in {
    padding: 2px;
    margin-right: 10px !important;
}

.icon-btn-in-x{
    padding: 2px;
    margin-right: 0;
}


.snackbar {
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 49%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
  }

  .img-has-shadow{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }

  .img-has-shadow:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
