<!DOCTYPE html>
<html>
{% include 'base_head.html' %}

<body class="">
    {% if mssg %}
    <div class="snackbar">
        <div class="box has-background-black animated fadeInUp">
            <div class=" level is-mobile container">
                <div class="level-left" style="padding-right: 1rem;">
                    <div class="level-item is-size-6 has-text-white">
                        <p>{{mssg}}</p>

                    </div>
                </div>
                <div class="level-right">
                    <div class="level-item delete">
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <section class="has-background-white-bis">
        <nav class="navbar is-spaced has-shadow has-background-white-bis">
            <div class="container">
                <div class="navbar-brand">
                    <div class="navbar-left">
                        <p class="is-size-3 brand-trail">Trail</p>
                    </div>
                </div>
                <div class="navbar-menu">
                    <div class="navbar-end">
                        <a class="navbar-item button is-text" href="{{url_for('home')}}"
                            style="text-decoration: none; margin-right: 1rem;">
                            Dashboard
                        </a>
                        <div class="navbar-item has-dropdown is-hoverable" style="margin-right: 1rem;">

                            <a class="navbar-link">Transactions</a>

                            <div class="navbar-dropdown">
                                <a class="navbar-item"><strong>Stitching</strong></a>
                                <a class="navbar-item"  href="{{url_for('trans_a')}}">
                                    Part A
                                </a>
                                <a class="navbar-item"  href="{{url_for('trans_b')}}">
                                    Part B
                                </a>
                                <hr class="navbar-divider">
                                <a class="navbar-item"><strong>Printing</strong></a>
                                <a class="navbar-item" href="">
                                        Part A
                                    </a>
                                    <a class="navbar-item" href="">
                                        Part B
                                    </a>

                            </div>
                        </div>
                        <div class="navbar-item has-dropdown is-hoverable" style="margin-right: 1rem;">

                            <a class="navbar-link">Basic Master</a>

                            <div class="navbar-dropdown">
                                <a class="navbar-item" href="{{url_for('fin_goods')}}">
                                    Finished Goods
                                </a>
                                <a class="navbar-item" href="{{url_for('raw_materials')}}">
                                    Raw Materials
                                </a>
                                <a class="navbar-item" href="{{url_for('uom')}}">
                                    Unit of Measurement
                                </a>
                                <a class="navbar-item" href="{{url_for('customer_category')}}">
                                    Customer Category
                                </a>
                                <a class="navbar-item" href="{{url_for('unit_loc')}}">
                                    Location
                                </a>
                                <a class="navbar-item" href="{{url_for('firms')}}">
                                    Firms
                                </a>
                                <a class="navbar-item" href="{{url_for('accessories')}}">
                                    Accesories
                                </a>
                                <a class="navbar-item" href="{{url_for('other_mat')}}">
                                    Other Materials
                                </a>
                            </div>

                        </div>




                        <a class="navbar-item button is-text " href="{{ url_for('main_master')}}"
                            style="text-decoration: none; margin-right: 1rem;">
                            Main Master
                        </a>
                        <div class="navbar-item has-dropdown is-hoverable" style="margin-right: 1rem;">

                            <a class="navbar-link"><span class="icon icon-btn-in"><i
                                        data-feather="user"></i></span>{{current_user.username}}</a>

                            <div class="navbar-dropdown">
                                <a class="navbar-item" href="{{url_for('user_roles')}}">
                                    <span class="icon icon-btn-in"><i data-feather="users"></i></span>
                                    Users
                                </a>
                                <a class="navbar-item">
                                    <span class="icon icon-btn-in"><i data-feather="settings"></i></span>
                                    Settings
                                </a>
                                <hr class="navbar-divider">
                                <a class="navbar-item" href="{{url_for('logout')}}">
                                    <span class="icon icon-btn-in"><i data-feather="log-out"></i></span>Logout
                                </a>
                            </div>

                        </div>

                        <a class="navbar-item button is-text " href="" style="text-decoration: none;">
                            <span class="icon icon-btn-in-x"><i data-feather="inbox"></i></span>
                        </a>

                    </div>
                </div>

            </div>
        </nav>


        </div>
    </section>

    {% block content %}
    {% endblock %}
    <script>
        $(document).ready(function () {
            setTimeout(function () {
                $(".snackbar").addClass("animated fadeOutDown");
            }, 3000);

        });
        $.ajax({
            type: "POST",
            url: "{{url_for('mssg_del')}}",

        }).done(function () {
            console.log("session['mssg'] is empty")
        });

        $.each($(".button"), function () {
            if ($(this)[0].innerHTML === 'Clear Fields') {
                $(this).click(function () {
                    location.reload();

                })
            }
        })

    </script>

    <script>

        feather.replace()
    </script>
    <script>
        $("form").attr('autocomplete', 'off');

    </script>

</body>

</html>