{% extends  'base.html' %}
{% block content %}
<script>
    $(document).ready(function () {
        $('#tabs li').on('click', function () {
            var tab = $(this).data('tab');

            $('#tabs li').removeClass('is-active');
            $(this).addClass('is-active');

            $('#tab-content div').removeClass('is-active');
            $('div[data-content="' + tab + '"]').addClass('is-active');
        });
    });
</script>
<style>
    #tab-content .tab-box {
        display: none;
    }

    #tab-content .tab-box.is-active {
        display: block;
    }

    .tab-box {
        margin-top: 4rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .inner-nav {
        margin-top: 0;
    }
</style>
<div class="tabs has-background-white-bis is-fullwidth" id="tabs" style="padding-top: 1rem;">
    <div class="container">
        <h2 class="is-size-4 has-text-centered robo ">Finished Goods</h2>
      <hr style="margin:1rem !important;">
        <ul>
            <li class="is-active" data-tab="1">
                <a>
                    <span>Product Category</span>
                </a>
            </li>
            <li data-tab="2">
                <a>
                    <span>Fabric Combination</span>
                </a>
            </li>
            <li data-tab="3">
                <a>
                    <span>Print Technique</span>
                </a>
            </li>
            <li data-tab="4">
                <a>
                    <span>Design Number</span>
                </a>
            </li>
            <li data-tab="5">
                <a>
                    <span>Size Master</span>
                </a>
            </li>
        </ul>
    </div>
</div>

<div id="tab-content">
    <div class="tab-box is-active " data-content="1">
        {% include 'fin_cat_master.html' %}
    </div>
    <div class="tab-box " data-content="2">
        {% include 'fin_comb_master.html' %}

    </div>
    <div class="tab-box" data-content="3">
        {% include 'fin_print_master.html' %}

    </div>
    <div class="tab-box" data-content="4">
        {% include 'fin_des_master.html' %}

    </div>
    <div class="tab-box" data-content="5">
        {% include 'fin_size_master.html' %}

    </div>

</div>

<script>



    $(document).ready(function () {
        // Construct URL object using current browser URL
        var url = new URL(document.location);

        // Get query parameters object
        var params = url.searchParams;

        // Get value of paper
        var selTab = params.get("showTab");
        var selView = params.get("view");

        if (selTab === '2') {
            $("li[data-tab=1] , li[data-tab=3] , li[data-tab=4] , li[data-tab=5] ").removeClass('is-active');
            $("div[data-content=1] ,div[data-content=3] , div[data-content=4] ,div[data-content=5]").removeClass('is-active');

            $("li[data-tab=2]").addClass('is-active');
            $("div[data-content=2]").addClass('is-active');

            $('#comb').focus();
            if (selView === 'list') {
                $("#comb_data_entry, #comb_data_view").toggle();
            }
        }

        if (selTab === '3') {
            $("li[data-tab=1] , li[data-tab=2] , li[data-tab=4] , li[data-tab=5] ").removeClass('is-active');
            $("div[data-content=1] ,div[data-content=2] , div[data-content=4] ,div[data-content=5]").removeClass('is-active');

            $("li[data-tab=3]").addClass('is-active');
            $("div[data-content=3]").addClass('is-active');

            $('#tech').focus();

            if (selView === 'list') {
                $("#tech_data_entry, #tech_data_view").toggle();
            }
        }

        if (selTab === '4') {
            $("li[data-tab=1] , li[data-tab=3] , li[data-tab=2] , li[data-tab=5] ").removeClass('is-active');
            $("div[data-content=1] ,div[data-content=3] , div[data-content=2] ,div[data-content=5]").removeClass('is-active');

            $("li[data-tab=4]").addClass('is-active');
            $("div[data-content=4]").addClass('is-active');

            $('#des').focus();

            if (selView === 'list') {
                $("#des_data_entry, #des_data_view").toggle();
            }
        }

        if (selTab === '5') {
            $("li[data-tab=1] , li[data-tab=3] , li[data-tab=4] , li[data-tab=2] ").removeClass('is-active');
            $("div[data-content=1] ,div[data-content=3] , div[data-content=4] ,div[data-content=2]").removeClass('is-active');

            $("li[data-tab=5]").addClass('is-active');
            $("div[data-content=5]").addClass('is-active');

            $('#size').focus();

            if (selView === 'list') {
                $("#size_data_entry, #size_data_view").toggle();
            }
        }

        if (selTab === '1') {

            $('#cat').focus();
            if (selView === 'list') {
                $("#prod_data_entry, #prod_data_view").toggle();
            }
        }



    });

</script>
{% endblock %}