<div class="container">

    <div class="columns" id="data_entry">
        <div class="column ">
            <nav class="level ">
                <div class="level-left">

                    <div class="level-item">
                        <p class="is-size-5 robo ">
                            Finished Goods Master</p>
                    </div>
                </div>

            </nav>
            <hr>
            <div class="">
                <div class="form " id="entry_form">
                   

                    <form method="POST" action="{{ url_for('main_master')}}">
                        {{fin_form.hidden_tag()}}
                        <div class="field-body is-horizontal">
                            <div class="field">
                                <label class="label">Product Cateogry</label>
                                <div class="control select is-fullwidth">
                                    {{fin_form.product_category()}}
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Fabric Combo</label>
                                <div class="control select is-fullwidth">
                                    {{fin_form.fabric_combo()}}

                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Print Technique</label>
                                <div class="control select is-fullwidth">
                                    {{fin_form.print_tech()}}

                                </div>
                            </div>

                            <div class="field">
                                <label class="label">Design</label>
                                <div class="control select is-fullwidth">
                                    {{fin_form.design()}}

                                </div>
                            </div>

                            <div class="field">
                                <label class="label">U.O.M</label>
                                <div class="control select is-fullwidth">
                                    {{fin_form.uom()}}

                                </div>
                            </div>

                        </div>
                        <br>
                        <div class="field">
                            <label class="label">Alternate Product Name</label>
                            <div class="control is-expanded">
                                {{fin_form.alt_name(class="input")}}

                            </div>
                        </div>
                        <br>

                        <br>
                        <div class="field is-grouped is-grouped-multiline">
                            <div class="control ">
                                {{fin_form.fin_submit(class="button is-black" , value="Save")}}
                            </div>
                            <div class="control">
                                    <a class="button is-outlined is-black" id="copy_from_last_fin"><span class="icon icon-btn-in"><i
                                        data-feather="copy"></i></span>Copy from last </a>
                            </div>
                            <div class="control">
                                <a class="button is-info fin_view"><span class="icon icon-btn-in"><i
                                            data-feather="eye"></i></span>View </a>
                            </div>
                            <div class="control">
                                <a class="button is-text">Clear Fields</a>
                            </div>

                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- View Modal -->
    <div class="columns" style="display:none" id="data_view">
        <div class="column">

            <div class="xtable table-container">
                <nav class="level">
                    <div class="level-left">

                        <div class="level-item">
                            <p class="is-size-5 robo ">
                                Finished Goods</p>
                        </div>
                    </div>
                    <div class="level-right">
                        <div class="level-item">
                            <a class="button is-black fin_view"><span class="icon icon-btn-in"><i
                                        data-feather="plus"></i></span> Add
                            </a>
                        </div>
                    </div>


                </nav>
                <hr>
                {% if fin_goods_list|length == 0 %}
                <div class="empty has-text-centered has-text-grey-light">
                    <span class="icon"><i data-feather="info"></i></span><br>
                    <p>No Customer Categories available. <br> Create a new one.</p>
                    <hr>
                </div>
                {% else %}

                <table class="table is-fullwidth">
                    <thead>
                        <tr>
                            <th>Alt Name</th>
                            <th>Product Category</th>
                            <th>Fabric Combo</th>
                            <th>Print Technique</th>
                            <th>Design</th>
                            <th>U.O.M</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for row in fin_goods_list %}

                        <tr>
                            <td> {{ row.alt_name}}</td>
                            <td> {{ row.product_category[0].cat}}</td>
                            <td> {{ row.fabric_combo[0].comb}}</td>
                            <td> {{ row.print_tech[0].tech}}</td>
                            <td> {{ row.design[0].des}}</td>
                            <td> {{ row.uom[0].measure}}</td>
                            <td>
                                <div class="level">
                                    <div class="level-item">
                                        <a id="edit_fin_btn_{{loop.index}}" class="button is-small"><span
                                                class="icon icon-btn-in-x"><i data-feather="edit-2"></i></span>
                                        </a>
                                    </div>
                                    <div class="level-item">
                                        <a href="{{ url_for('fin_goods_delete' , id = row.id)}}"
                                            class="button is-small is-danger"><span class="icon icon-btn-in-x"><i
                                                    data-feather="x"></i></span>
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>

                        <!-- Modal for update -->
                        <div class="modal " id="edit_fin_modal_{{loop.index}}">
                            <div class="modal-background animated fadeIn"></div>
                            <div class="modal-content animated fadeInUp">
                                <div class="box has-background-light">
                                    <h3 class="is-size-5 robo">Edit Finished Goods</h3>
                                    <br>
                                    <br>
                                    <div class="form">
                                        <form method="POST" action="{{ url_for('main_master' , fin_id = row.id )}}">
                                            {{ fin_form.hidden_tag()}}

                                            <div class="field-body is-horizontal">
                                                <div class="field">
                                                    <label class="label">Product Cateogry</label>
                                                    <div class="control select select_prod_{{loop.index}} is-fullwidth">
                                                        {{fin_form.product_category()}}
                                                    </div>

                                                </div>
                                                <div class="field">
                                                    <label class="label">Fabric Combo</label>
                                                    <div
                                                        class="control select select_combo_{{loop.index}} is-fullwidth">
                                                        {{fin_form.fabric_combo()}}

                                                    </div>
                                                    <script>

                                                    </script>
                                                </div>
                                                <div class="field">
                                                    <label class="label">Print Technique</label>
                                                    <div
                                                        class="control select select_print_{{loop.index}} is-fullwidth">
                                                        {{fin_form.print_tech()}}

                                                    </div>
                                                    <script>

                                                    </script>
                                                </div>

                                                <div class="field">
                                                    <label class="label">Design</label>
                                                    <div class="control select select_des_{{loop.index}} is-fullwidth">
                                                        {{fin_form.design()}}

                                                    </div>
                                                    <script>

                                                    </script>
                                                </div>

                                                <div class="field">
                                                    <label class="label">U.O.M</label>
                                                    <div class="control select select_uom_{{loop.index}} is-fullwidth">
                                                        {{fin_form.uom()}}

                                                    </div>
                                                    <script>

                                                    </script>
                                                </div>

                                            </div>
                                            <br>
                                            <div class="field">
                                                <label class="label">Alternate Product Name</label>
                                                <div class="control is-expanded">
                                                    {{fin_form.alt_name(class="input" , value = row.alt_name )}}

                                                </div>
                                            </div>
                                            <br>
                                          
                                            <br>
                                            <div class="field is-grouped">
                                                <div class="control ">
                                                    {{ fin_form.fin_update( class="is-black button" , value="Save")}}
                                                </div>
                                                <div class="control">
                                                    <a class="button is-text">Clear Fields</a>
                                                </div>

                                            </div>

                                            <script>
                                                $(document).ready(function () {
                                                    $('.select_prod_{{loop.index}} > #product_category').val("{{row.product_category[0].id}}");
                                                    $('.select_combo_{{loop.index}} > #fabric_combo').val("{{row.fabric_combo[0].id}}");
                                                    $('.select_print_{{loop.index}} > #print_tech').val('{{row.print_tech[0].id}}');
                                                    $('.select_des_{{loop.index}} > #design').val('{{row.design[0].id}}');
                                                    $('.select_uom_{{loop.index}} > #uom').val("{{row.uom[0].id}}");
                                                });
                                            </script>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <button class="modal-close is-large" aria-label="close"></button>

                            <script>
                                document.querySelector('#edit_fin_btn_{{loop.index}}').addEventListener('click', function (event) {
                                    event.preventDefault();
                                    var modal = document.querySelector('#edit_fin_modal_{{loop.index}}');  // assuming you have only 1
                                    var html = document.querySelector('html');
                                    modal.classList.add('is-active');
                                    html.classList.add('is-clipped');

                                    document.querySelector('.modal-close').addEventListener('click', function (e) {
                                        e.preventDefault();
                                        modal.classList.remove('is-active');
                                        html.classList.remove('is-clipped');
                                    });

                                    modal.querySelector('.modal-background').addEventListener('click', function (e) {
                                        e.preventDefault();
                                        modal.classList.remove('is-active');
                                        html.classList.remove('is-clipped');


                                    });

                                });

                            </script>
                        </div>

                        {% endfor %}


                    </tbody>

                </table>


                <!-- City Edit Modal -->





                {% endif %}
            </div>
        </div>
    </div>

    <script>
        $(".fin_view").click(function () {

            $("#data_entry, #data_view").toggle();
        });
    </script>

    <script>


        $(document).ready(function () {
    
            $("#entry_form  select ").val(0);
                        
            $('#copy_from_last_fin').click(function () {
                $('#data_view tr').last().children().each(function (index, value) {
                    console.log(index, value)
                    if (index == 0) {
                        $("#data_entry  #alt_name").val(value.innerHTML.trim());
                    }
                    if (index == 1) {
                        $("#data_entry  #product_category option:contains("+value.innerHTML.trim()+")").attr("selected", true);
                    }
                    if (index == 2) {
                        $("#data_entry  #fabric_combo option:contains("+value.innerHTML.trim()+")").attr("selected", true);
                    }
                    if (index == 3) {
                        $("#data_entry  #print_tech option:contains("+value.innerHTML.trim()+")").attr("selected", true);
                    }
                    if (index == 4) {
                        $("#data_entry  #design option:contains("+value.innerHTML.trim()+")").attr("selected", true);
                    }
                    if (index == 5) {
                        $("#data_entry  #uom option:contains("+value.innerHTML.trim()+")").attr("selected", true);
                    }
                  

                });

            })



        });

    </script>
</div>