{% extends  'base.html' %}
{% block content %}
<script>
    $(document).ready(function () {
        $('#tabs li').on('click', function () {
            var tab = $(this).data('tab');

            $('#tabs li').removeClass('is-active');
            $(this).addClass('is-active');

            $('#tab-content div').removeClass('is-active');
            $('div[data-content="' + tab + '"]').addClass('is-active');
        });
    });
</script>
<style>
    #tab-content .tab-box {
        display: none;
    }

    #tab-content .tab-box.is-active {
        display: block;
    }

    .tab-box {
        margin-top: 4rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .inner-nav {
        margin-top: 0;
    }
</style>
<div class="tabs has-background-white-bis is-fullwidth" id="tabs" style="padding-top: 1rem;">
    <div class="container">

        <ul>
                <li data-tab="15">
                        <a>
                            <span>Raw Material Item</span>
                        </a>
                    </li>
            <li class="" data-tab="14">
                <a>
                    <span>Finished Goods Item</span>
                </a>
            </li>
            
        </ul>
    </div>
</div>

<div id="tab-content">
    <div class="tab-box animated fadeIn" data-content="14">
        {% include 'fin_goods_master.html' %}
    </div>
    <div class="tab-box animated fadeIn " data-content="15">
        {% include 'raw_mat_fabric_master.html' %}

    </div>

</div>

<script>

$(document).ready(function () {
        // Construct URL object using current browser URL
        var url = new URL(document.location);

        // Get query parameters object
        var params = url.searchParams;

        // Get value of paper
        var selTab = params.get("showTab");
        var selView = params.get("view");

        if (selTab === '15' || selTab === null) {
            $("li[data-tab=14] ").removeClass('is-active');
            $("div[data-content=14]").removeClass('is-active');

            $("li[data-tab=15]").addClass('is-active');
            $("div[data-content=15]").addClass('is-active');


            if (selView === 'list') {
                $("#raw_data_entry, #raw_data_view").toggle();
            }
        }
        if (selTab === '14' ) {
            $("li[data-tab=15] ").removeClass('is-active');
            $("div[data-content=15]").removeClass('is-active');

            $("li[data-tab=14]").addClass('is-active');
            $("div[data-content=14]").addClass('is-active');

            if (selView === 'list') {
                $("#data_entry, #data_view").toggle();
            }
        }

        

    });
</script>
{% endblock %}