{% extends 'base.html' %}
{% block content %}
<div class="container" style="margin-top: 5rem;">

    <div class="columns is-mobile is-centered">
        <div class="column is-half-desktop">
            <nav class="level is-mobile">
                <div class="level-left">

                    <div class="level-item">
                        <p class="is-size-5 robo ">
                            New Other Materials</p>
                    </div>
                </div>

            </nav>
            <hr>
            <div class="">
                <div class="form">
                    <form method="POST" action="{{ url_for('other_mat')}}">
                        {{mat_form.hidden_tag()}}

                        {% if dup != "" %}
                        <div class="is-warning notification animated shake has-shadow">
                            <span class="icon icon-btn"><i data-feather="alert-circle"></i></span> Data already exists.
                        </div>
                        <div class="field-body is-horizontal">
                            <div class="field">
                                <label class="label">Other Materials</label>
                                <div class="control">
                                    {{mat_form.mat(class="input" , value=dup)}}
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">U.O.M</label>
                                <div class="control select">
                                    {{mat_form.uom()}}
                                </div>
                            </div>
                        </div>
                        {% else %}


                        <div class="field-body is-horizontal">
                            <div class="field">
                                <label class="label">Other Materials</label>
                                <div class="control">
                                    {{mat_form.mat(class="input" , placeholder="Enter Other Materials")}}
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">U.O.M</label>
                                <div class="control select">
                                    {{mat_form.uom()}}
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        <br>
                        <div class="field is-grouped">
                            <div class="control">
                                {{mat_form.mat_submit(class="button is-black" , value="Save")}}
                            </div>
                            <div class="control">
                                <a class="button is-info" href="{{ url_for('other_mat_view') }}"><span
                                        class="icon icon-btn-in"><i data-feather="eye"></i></span>View </a>
                            </div>
                            <div class="control ">
                                <a class="button is-text">Clear Fields</a>
                            </div>

                        </div>

                    </form>
                </div>
            </div>
        </div>


    </div>

</div>
<script>
    $("#mat").focus();
</script>
{% endblock %}