<div class="container">

    <div class="columns is-mobile is-centered animated fadeIn" id="rconst_data_entry">
        <div class="column is-half">
            <nav class="level is-mobile">
                <div class="level-left">

                    <div class="level-item">
                        <p class="is-size-5 robo ">
                            New Fabric Construction</p>
                    </div>
                </div>

            </nav>
            <hr>
            <div class="">
                <div class="form">
                    <form method="POST" action="{{ url_for('raw_materials')}}">
                        {{const_form.hidden_tag()}}
                        <div class="field">
                            <label class="label">Fabric Construction</label>
                            <div class="control">
                                {{const_form.const(class="input" , placeholder="Enter Fabric Construction")}}
                            </div>
                        </div>
                        <br>
                        <div class="field is-grouped">
                            <div class="control is-left">
                                {{const_form.const_submit(class="button is-black" , value="Save")}}
                            </div>
                            <div class="control">
                                <a class="button is-info rconst_view"><span class="icon icon-btn-in"><i
                                            data-feather="eye"></i></span>View </a>
                            </div>
                            <div class="control is-right">
                                <a class="button is-text">Clear Fields</a>
                            </div>

                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="columns is-mobile is-centered animated fadeIn" id="rconst_data_view" style="display:none;">
        <div class="column is-half">
            <div class="xtable">
                <nav class="level is-mobile">
                    <div class="level-left">

                        <div class="level-item">
                            <p class="is-size-5 robo ">
                                Fabric Construction</p>
                        </div>
                    </div>
                    <div class="level-right">

                        <div class="level-item">
                            <a class="button is-black rconst_view"><span class="icon icon-btn-in"><i
                                        data-feather="plus"></i></span>Add </a>
                        </div>
                    </div>


                </nav>
                <hr>
                {% if const_list|length == 0 %}
                <div class="empty has-text-centered has-text-grey-light">
                    <span class="icon"><i data-feather="info"></i></span><br>
                    <p>No Fabric Construction available. <br> Create a new one.</p>
                    <hr>
                </div>
                {% endif %}
                {% for const in const_list %}
                <div class="level is-mobile">
                    <div class="level-left">
                        <div class="level-left">
                            <p>{{const.const}}</p>
                        </div>
                    </div>
                    <div class="level-right">

                        <div class="level-item">
                            <a id="edit_const_btn_{{loop.index}}" class="button is-small"><span
                                    class="icon icon-btn-in-x"><i data-feather="edit-2"></i></span>
                            </a>
                        </div>
                        <div class="level-item">
                            <a href="{{ url_for('const_delete' , id = const.id)}}"
                                class="button is-small is-danger"><span class="icon icon-btn-in-x"><i
                                        data-feather="x"></i></span>
                            </a>
                        </div>
                    </div>
                </div>
                <hr>

                <!-- City Edit Modal -->

                <div class="modal " id="edit_const_modal_{{loop.index}}">
                    <div class="modal-background animated fadeIn"></div>
                    <div class="modal-content animated fadeInUp">
                        <div class="box has-background-light" style="margin-top:15rem;">
                            <h3 class="is-size-5 robo">Edit Fabric Construction</h3>
                            <br>
                            <br>
                            <div class="form">
                                <form method="POST" action="{{ url_for('const_edit' , id = const.id)}}">
                                    {{ const_form.hidden_tag()}}

                                    <div class="field">
                                        <label class="label">Edit Construction</label>
                                        <div class="control">
                                            {{ const_form.const(class="input" , value=const.const)}}
                                        </div>
                                    </div>

                                    <br>
                                    <br>
                                    <div class="field level">
                                        <div class="control">
                                            {{ const_form.const_update(class="button is-black" , value="Save")}}
                                        </div>
                                        <div class="control ">
                                            <a class="button is-text">Clear Fields</a>
                                        </div>

                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                    <button class="modal-close is-large" aria-label="close"></button>

                    <script>
                        document.querySelector('#edit_const_btn_{{loop.index}}').addEventListener('click', function (event) {
                            event.preventDefault();
                            var modal = document.querySelector('#edit_const_modal_{{loop.index}}');  // assuming you have only 1
                            var html = document.querySelector('html');
                            modal.classList.add('is-active');
                            html.classList.add('is-clipped');

                            document.querySelector('.modal-close').addEventListener('click', function (e) {
                                e.preventDefault();
                                modal.classList.remove('is-active');
                                html.classList.remove('is-clipped');
                            });

                            modal.querySelector('.modal-background').addEventListener('click', function (e) {
                                e.preventDefault();
                                modal.classList.remove('is-active');
                                html.classList.remove('is-clipped');


                            });

                        });

                    </script>
                </div>




                {% endfor %}
            </div>
        </div>


    </div>

</div>

<script>
        $(".rconst_view").click(function () {
            $('#rconst_data_view , #rconst_data_entry').toggle();
    
        });
    </script>