<div class="container">

    <div class="columns is-mobile is-centered" id="raw_data_entry">
        <div class="column ">
            <nav class="level is-mobile">
                <div class="level-left">

                    <div class="level-item">
                        <p class="is-size-5 robo ">
                            Raw Material Fabric Master</p>
                    </div>
                </div>

            </nav>
            <hr>
            <div class="">
                <div class="form " id="raw_data_form">
                    <form method="POST" action="{{ url_for('main_master')}}">
                        {{raw_form.hidden_tag()}}
                        <div class="field-body is-horizontal">
                            <div class="field">
                                <label class="label">Product Cateogry</label>
                                <div class="control select is-fullwidth">
                                    {{raw_form.product_category()}}
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Yarn</label>
                                <div class="control select is-fullwidth">
                                    {{raw_form.yarn()}}

                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Fabric Construction</label>
                                <div class="control select is-fullwidth">
                                    {{raw_form.fab_const()}}

                                </div>
                            </div>

                            <div class="field">
                                <label class="label">Fabric Process</label>
                                <div class="control select is-fullwidth">
                                    {{raw_form.proc()}}

                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Width</label>
                                <div class="control select is-fullwidth">
                                    {{raw_form.width()}}

                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Dye</label>
                                <div class="control select is-fullwidth">
                                    {{raw_form.dye()}}

                                </div>
                            </div>
                            <div class="field">
                                <label class="label">U.O.M</label>
                                <div class="control select is-fullwidth">
                                    {{raw_form.uom()}}

                                </div>
                            </div>

                        </div>
                        <br>
                        <div class="field">
                            <label class="label">Alternate Product Name</label>
                            <div class="control is-expanded">
                                {{raw_form.alt_name(class="input")}}

                            </div>
                        </div>
                        <br>

                        <br>
                        <div class="field is-grouped">
                            <div class="control ">
                                {{raw_form.raw_submit(class="button is-black" , value="Add")}}
                            </div>
                            <div class="control">
                                    <a class="button is-outlined is-black" id="copy_from_last_raw"><span class="icon icon-btn-in"><i
                                        data-feather="copy"></i></span>Copy from last </a>
                            </div>
                            <div class="control">
                                <a class="button is-info raw_view"><span class="icon icon-btn-in"><i
                                            data-feather="eye"></i></span>View </a>
                            </div>
                            <div class="control">
                                <a class="button is-text">Clear Fields</a>
                            </div>

                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="columns is-mobile is-centered" style="display:none" id="raw_data_view">
        <div class="column">

            <div class="xtable">
                <nav class="level is-mobile">
                    <div class="level-left">

                        <div class="level-item">
                            <p class="is-size-5 robo ">
                                Raw Material Fabric</p>
                        </div>
                    </div>
                    <div class="level-right">
                        <div class="level-item">
                            <a class="button is-black raw_view"><span class="icon icon-btn-in"><i
                                        data-feather="plus"></i></span> Add
                            </a>
                        </div>
                    </div>


                </nav>
                <hr>
                {% if raw_goods_list|length == 0 %}
                <div class="empty has-text-centered has-text-grey-light">
                    <span class="icon"><i data-feather="info"></i></span><br>
                    <p>No Raw Material Fabrics available. <br> Create a new one.</p>
                    <hr>
                </div>
                {% else %}

                <table class="table is-fullwidth">
                    <thead>
                        <tr>
                            <th>Alt Name</th>
                            <th>Product Category</th>
                            <th>Yarn</th>
                            <th>Fabric Construction</th>
                            <th>Fabric Process</th>
                            <th>Width</th>
                            <th>Dye</th>
                            <th>U.O.M</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for row in raw_goods_list %}

                        <tr>
                            <td> {{ row.alt_name}}</td>
                            <td> {{ row.product_category[0].cat}}</td>
                            <td> {{ row.yarn[0].yarn}}</td>
                            <td> {{ row.fab_const[0].const}}</td>
                            <td> {{ row.proc[0].process}}</td>
                            <td> {{ row.width[0].width}}</td>
                            <td> {{ row.dye[0].dye}}</td>
                            <td> {{ row.uom[0].measure}}</td>
                            <td>
                                <div class="level">
                                    <div class="level-item">
                                        <a id="edit_raw_btn_{{loop.index}}" class="button is-small"><span
                                                class="icon icon-btn-in-x"><i data-feather="edit-2"></i></span>
                                        </a>
                                    </div>
                                    <div class="level-item">
                                        <a href="{{ url_for('raw_goods_delete' , id = row.id)}}"
                                            class="button is-small is-danger"><span class="icon icon-btn-in-x"><i
                                                    data-feather="x"></i></span>
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>

                        <!-- Modal for update -->
                        <div class="modal " id="edit_raw_modal_{{loop.index}}">
                            <div class="modal-background animated fadeIn"></div>
                            <div class="modal-content animated fadeInUp">
                                <div class="box has-background-light">
                                    <h3 class="is-size-5 robo">Edit Raw Material Fabric</h3>
                                    <br>
                                    <br>
                                    <div class="form">
                                        <form method="POST" action="{{ url_for('main_master' , fin_id = row.id )}}">
                                            {{ raw_form.hidden_tag()}}

                                            <div class="field-body is-horizontal">
                                                <div class="field">
                                                    <label class="label">Product Cateogry</label>
                                                    <div class="control select select_prod_{{loop.index}} is-fullwidth">
                                                        {{raw_form.product_category()}}
                                                    </div>

                                                </div>
                                                <div class="field">
                                                    <label class="label">Yarn</label>
                                                    <div class="control select select_yarn_{{loop.index}} is-fullwidth">
                                                        {{raw_form.yarn()}}

                                                    </div>

                                                </div>
                                                <div class="field">
                                                    <label class="label">Fabric Construction</label>
                                                    <div
                                                        class="control select select_fab_const_{{loop.index}} is-fullwidth">
                                                        {{raw_form.fab_const()}}

                                                    </div>

                                                </div>
                                            </div>
                                            <br>
                                            <div class="field-body is-horizontal">

                                                <div class="field">
                                                    <label class="label">Fabric Process</label>
                                                    <div class="control select select_proc_{{loop.index}} is-fullwidth">
                                                        {{raw_form.proc()}}

                                                    </div>

                                                </div>

                                                <div class="field">
                                                    <label class="label">Width</label>
                                                    <div
                                                        class="control select select_width_{{loop.index}} is-fullwidth">
                                                        {{raw_form.width()}}

                                                    </div>

                                                </div>

                                                <div class="field">
                                                    <label class="label">Dye</label>
                                                    <div class="control select select_dye_{{loop.index}} is-fullwidth">
                                                        {{raw_form.dye()}}

                                                    </div>

                                                </div>

                                                <div class="field">
                                                    <label class="label">U.O.M</label>
                                                    <div class="control select select_uom_{{loop.index}} is-fullwidth">
                                                        {{raw_form.uom()}}

                                                    </div>
                                                </div>


                                            </div>
                                            <br>
                                            <div class="field">
                                                <label class="label">Alternate Product Name</label>
                                                <div class="control is-expanded">
                                                    {{raw_form.alt_name(class="input" , value = row.alt_name )}}

                                                </div>
                                            </div>
                                            <br>

                                            <br>
                                            <div class="field is-grouped">
                                                <div class="control ">
                                                    {{ raw_form.raw_update( class="is-black button" , value="Save")}}
                                                </div>
                                                <div class="control">
                                                    <a class="button is-text">Clear Fields</a>
                                                </div>
                                               

                                            </div>
                                            <script>
                                                // Script ot edit the select fields in Edit Modal

                                                $(document).ready(function () {
                                                    $('.select_prod_{{loop.index}} > #product_category').val('{{row.product_category[0].id}}');
                                                    $('.select_uom_{{loop.index}} > #uom').val('{{row.uom[0].id}}');
                                                    $('.select_dye_{{loop.index}} > #dye').val('{{row.dye[0].id}}');
                                                    $('.select_width_{{loop.index}} > #width').val('{{row.width[0].id}}');
                                                    $('.select_proc_{{loop.index}} > #proc').val('{{row.proc[0].id}}');
                                                    $('.select_yarn_{{loop.index}} > #yarn').val('{{row.yarn[0].id}}');
                                                    $('.select_fab_const_{{loop.index}} > #fab_const').val('{{row.fab_const[0].id}}');

                                                });
                                            </script>

                                        </form>
                                    </div>
                                </div>
                            </div>
                            <button class="modal-close is-large" aria-label="close"></button>

                            <script>
                                document.querySelector('#edit_raw_btn_{{loop.index}}').addEventListener('click', function (event) {
                                    event.preventDefault();
                                    var modal = document.querySelector('#edit_raw_modal_{{loop.index}}');  // assuming you have only 1
                                    var html = document.querySelector('html');
                                    modal.classList.add('is-active');
                                    html.classList.add('is-clipped');

                                    document.querySelector('.modal-close').addEventListener('click', function (e) {
                                        e.preventDefault();
                                        modal.classList.remove('is-active');
                                        html.classList.remove('is-clipped');
                                    });

                                    modal.querySelector('.modal-background').addEventListener('click', function (e) {
                                        e.preventDefault();
                                        modal.classList.remove('is-active');
                                        html.classList.remove('is-clipped');


                                    });

                                });

                            </script>
                        </div>

                        {% endfor %}


                    </tbody>

                </table>


                <!-- City Edit Modal -->





                {%endif%}
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {

            $("#raw_data_form  select ").val(0);

            // Construct URL object using current browser URL
            $('#copy_from_last_raw').click(function () {
                console.log("Daam")
                $('#raw_data_view tr').last().children().each(function (index, value) {
                    if (index == 0) {
                        $("#raw_data_entry  #alt_name").val(value.innerHTML.trim());
                    }
                    if (index == 1) {
                        $("#raw_data_entry  #product_category option:contains("+value.innerHTML.trim()+")").attr("selected", true);
                    }
                    if (index == 2) {
                        $("#raw_data_entry  #yarn option:contains("+value.innerHTML.trim()+")").attr("selected", true);
                    }
                    if (index == 3) {
                        $("#raw_data_entry  #fab_const option:contains("+value.innerHTML.trim()+")").attr("selected", true);
                    }
                    if (index == 4) {
                        $("#raw_data_entry  #proc option:contains("+value.innerHTML.trim()+")").attr("selected", true);
                    }
                    if (index == 5) {
                        $("#raw_data_entry  #width option:contains("+value.innerHTML.trim()+")").attr("selected", true);
                    }
                    if (index == 6) {
                        $("#raw_data_entry  #dye option:contains("+value.innerHTML.trim()+")").attr("selected", true);
                    }
                    if (index == 7) {
                        $("#raw_data_entry  #uom option:contains("+value.innerHTML.trim()+")").attr("selected", true);
                    }


                });

            })


        });
        $(".raw_view").click(function () {

            $("#raw_data_entry, #raw_data_view").toggle();
        });
    </script>
</div>