<div class="container">

    <div class="columns is-variable is-8">
        <div class="column is-5">
            <nav class="level is-mobile">
                <div class="level-left">

                    <div class="level-item">
                        <p class="is-size-5 robo ">
                            New Process</p>
                    </div>
                </div>

            </nav>
            <hr>
            <div class="">
                <div class="form">
                    <form method="POST" action="{{ url_for('basic_master')}}">
                        {{process_form.hidden_tag()}}
                        <div class="field">
                            <label class="label">Process</label>
                            <div class="control">
                                {{process_form.proc(class="input" , placeholder="Enter Process Code")}}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Description</label>
                            <div class="control is-expanded is-left">
                                {{process_form.desc(class="input" , placeholder="Description of Process")}}

                            </div>
                        </div>


                        <br>
                        <div class="field is-grouped">
                            <div class="control is-left">
                                {{process_form.proc_submit(class="button is-black" , value="Add Process")}}
                            </div>
                            <div class="control is-right">
                                <a class="button is-text">Clear Fields</a>
                            </div>

                        </div>

                    </form>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="xtable">
                <nav class="level is-mobile">
                    <div class="level-left">

                        <div class="level-item">
                            <p class="is-size-5 robo ">
                                Process</p>
                        </div>
                    </div>


                </nav>

                {% if process_list|length == 0 %}
                <hr>
                <div class="empty has-text-centered has-text-grey-light">
                    <span class="icon"><i data-feather="info"></i></span><br>
                    <p>No Process available. <br> Create a new one.</p>
                    <hr>
                </div>
                {% else%}
                <table class="table is-fullwidth">
                    <thead>
                        <tr>
                            <th class="has-text-grey">Process</th>
                            <th class="has-text-grey">Description</th>
                            <th class="has-text-grey"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for process in process_list %}

                        <tr>
                            <td>
                                <p class="tag is-medium is-black">{{process.process}}</p>
                            </td>
                            <td>
                                <p>{{process.desc}}</p>
                            </td>

                            <td>
                                <div class="level is-mobile">
                                    <div class="level-item">
                                        <a id="edit_process_btn_{{loop.index}}" class="button is-small"><span
                                                class="icon icon-btn-in-x"><i data-feather="edit-2"></i></span>
                                        </a>
                                    </div>
                                    <div class="level-item">
                                        <a href="{{ url_for('process_delete' , id = process.id)}}"
                                            class="button is-small is-danger"><span class="icon icon-btn-in-x"><i
                                                    data-feather="x"></i></span>
                                        </a>
                                    </div>
                                </div>

                            </td>

                        </tr>

                        <div class="modal " id="edit_process_modal_{{loop.index}}">
                            <div class="modal-background animated fadeIn"></div>
                            <div class="modal-content animated fadeInUp">
                                <div class="box has-background-light" style="margin-top:15rem;">
                                    <h3 class="is-size-5 robo">Edit Process</h3>
                                    <br>
                                    <br>
                                    <div class="form">
                                        <form method="POST" action="{{ url_for('process_edit' , id = process.id)}}">
                                            {{ process_form.hidden_tag()}}

                                            <div class="field">
                                                <label class="label">Edit Process</label>
                                                <div class="control">
                                                    {{ process_form.proc(class="input" , placeholder= process.process)}}
                                                </div>
                                            </div>
                                            <div class="field">
                                                <label class="label">Edit Description</label>
                                                <div class="control">
                                                    {{ process_form.desc(class="input" , placeholder=process.desc)}}
                                                </div>
                                            </div>
                                            <br>
                                            <div class="field level">
                                                <div class="control">
                                                    {{ process_form.proc_update(class="button is-black" , value="Update Process")}}
                                                </div>
                                                <div class="control ">
                                                    <a class="button is-text">Clear Fields</a>
                                                </div>

                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </div>
                            <button class="modal-close is-large" aria-label="close"></button>

                            <script>
                                document.querySelector('#edit_process_btn_{{loop.index}}').addEventListener('click', function (event) {
                                    event.preventDefault();
                                    var modal = document.querySelector('#edit_process_modal_{{loop.index}}');  // assuming you have only 1
                                    var html = document.querySelector('html');
                                    modal.classList.add('is-active');
                                    html.classList.add('is-clipped');

                                    document.querySelector('.modal-close').addEventListener('click', function (e) {
                                        e.preventDefault();
                                        modal.classList.remove('is-active');
                                        html.classList.remove('is-clipped');
                                    });

                                    modal.querySelector('.modal-background').addEventListener('click', function (e) {
                                        e.preventDefault();
                                        modal.classList.remove('is-active');
                                        html.classList.remove('is-clipped');


                                    });

                                });

                            </script>
                        </div>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}

            </div>
        </div>


    </div>

</div>