{% extends  'base.html' %}
{% block content %}
<script>
    $(document).ready(function () {
        $('#tabs li').on('click', function () {
            var tab = $(this).data('tab');

            $('#tabs li').removeClass('is-active');
            $(this).addClass('is-active');

            $('#tab-content div').removeClass('is-active');
            $('div[data-content="' + tab + '"]').addClass('is-active');
        });
    });
</script>
<style>
    #tab-content .tab-box {
        display: none;
    }

    #tab-content .tab-box.is-active {
        display: block;
    }

    .tab-box {
        margin-top: 4rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .inner-nav {
        margin-top: 0;
    }
</style>
<div class="level is-mobile has-background-white-bis is-fullwidth is-marginless" style="padding-top: 1rem;">
        <div class="level-item">
            <h2 class="is-size-4 has-text-centered robo ">Raw Materials</h2>
    
        </div>
    </div>
<div class="tabs has-background-white-bis is-fullwidth" id="tabs" >
    <div class="container">
        <hr style="margin:1rem !important;">
        <ul>
            <li data-tab="8">
                <a>
                    <span>Yarn</span>
                </a>
            </li>
            <li data-tab="9">
                <a>
                    <span>Fabric Process</span>
                </a>
            </li>
            <li data-tab="10">
                <a>
                    <span>Fabric Width</span>
                </a>
            </li>
            <li data-tab="11">
                <a>
                    <span>Fabric Dye</span>
                </a>
            </li>
            <li data-tab="12">
                <a>
                    <span>Raw Material Category</span>
                </a>
            </li>
            <li data-tab="13">
                <a>
                    <span>Fabric Construction</span>
                </a>
            </li>
        </ul>
    </div>
</div>

<div id="tab-content">
    <div class="tab-box" data-content="12">
        {% include 'raw_cat_master.html' %}

    </div>
    <div class="tab-box " data-content="8">
        {% include 'raw_yarn_master.html' %}
    </div>
    <div class="tab-box" data-content="13">
        {% include 'raw_const_master.html' %}

    </div>
    <div class="tab-box " data-content="9">
        {% include 'raw_proc_master.html' %}

    </div>
    <div class="tab-box" data-content="10">
        {% include 'raw_width_master.html' %}

    </div>
    <div class="tab-box" data-content="11">
        {% include 'raw_dye_master.html' %}

    </div>




</div>



<script>



    $(document).ready(function () {
        // Construct URL object using current browser URL
        var url = new URL(document.location);

        // Get query parameters object
        var params = url.searchParams;

        // Get value of paper
        var selTab = params.get("showTab");
        var selView = params.get("view");

        if (selTab === '9') {
            $("li[data-tab=9]").addClass('is-active');
            $("div[data-content=9]").addClass('is-active');
            $("li[data-tab=8] , li[data-tab=10] , li[data-tab=11] , li[data-tab=12] , li[data-tab=13] ").removeClass('is-active');
            $("div[data-content=8] ,div[data-content=10] , div[data-content=11] ,div[data-content=12] ,div[data-content=13]").removeClass('is-active');



            $('#proc').focus();


            if (selView === 'list') {
                $("#proc_data_entry, #proc_data_view").toggle();
            }
        }

        if (selTab === '10') {
            $("li[data-tab=8] , li[data-tab=9] , li[data-tab=11] , li[data-tab=12] , li[data-tab=13] ").removeClass('is-active');
            $("div[data-content=8] ,div[data-content=9] , div[data-content=11] ,div[data-content=12]  ,div[data-content=13]").removeClass('is-active');

            $("li[data-tab=10]").addClass('is-active');
            $("div[data-content=10]").addClass('is-active');

            $('#width').focus();

            if (selView === 'list') {
                $("#width_data_entry, #width_data_view").toggle();
            }
        }

        if (selTab === '11') {
            $("li[data-tab=8] , li[data-tab=9] , li[data-tab=10] , li[data-tab=12] , li[data-tab=13] ").removeClass('is-active');
            $("div[data-content=8] ,div[data-content=9] , div[data-content=10] ,div[data-content=12] ,div[data-content=13]").removeClass('is-active');

            $("li[data-tab=11]").addClass('is-active');
            $("div[data-content=11]").addClass('is-active');

            $('#dye').focus();

            if (selView === 'list') {
                $("#dye_data_entry, #dye_data_view").toggle();
            }
        }

        if (selTab === '12') {
            $("li[data-tab=8] , li[data-tab=9] , li[data-tab=10] , li[data-tab=11] , li[data-tab=13] ").removeClass('is-active');
            $("div[data-content=8] ,div[data-content=9] , div[data-content=10] ,div[data-content=11] ,div[data-content=13]").removeClass('is-active');

            $("li[data-tab=12]").addClass('is-active');
            $("div[data-content=12]").addClass('is-active');

            $('#cat').focus();


            if (selView === 'list') {
                $("#rcat_data_entry, #rcat_data_view").toggle();
            }
        }

        if (selTab === '13') {
            $("li[data-tab=8] , li[data-tab=9] , li[data-tab=10] , li[data-tab=11] , li[data-tab=12] ").removeClass('is-active');
            $("div[data-content=8] ,div[data-content=9] , div[data-content=10] ,div[data-content=11],div[data-content=12]").removeClass('is-active');

            $("li[data-tab=13]").addClass('is-active');
            $("div[data-content=13]").addClass('is-active');

            $('#const').focus();

            if (selView === 'list') {
                $("#const_data_entry, #const_data_view").toggle();
            }
        }
        if (selTab === '8' || selTab === null) {
            $("li[data-tab=13] , li[data-tab=9] , li[data-tab=10] , li[data-tab=11] , li[data-tab=12] ").removeClass('is-active');
            $("div[data-content=13] ,div[data-content=9] , div[data-content=10] ,div[data-content=11],div[data-content=12]").removeClass('is-active');

            $("li[data-tab=8]").addClass('is-active');
            $("div[data-content=8]").addClass('is-active');
            $('#yarn').focus();


            if (selView === 'list') {
                $("#yarn_data_entry, #yarn_data_view").toggle();
            }
        }


    });

</script>
{% endblock %}