{% extends 'base.html' %}
{% block content %}
<!-- Date picker Script -->

<!-- End imports -->

<div class="container" style="margin-top: 5rem;">

    <div class="columns is-mobile is-centered">
        <div class="column is-three-quarters">
            <nav class="level is-mobile">
                <div class="level-left">

                    <div class="level-item">
                        <p class="is-size-5 ">
                            <span class="robo ">Transaction - </span> Part B - <span class="robo "> Tracking for -
                            </span> </p>
                    </div>

                    <div class="level-item">
                        <p class=" control select  ">
                            <select id="pp_sel"></select>
                        </p>
                    </div>

                    <div class="level-item">
                        <p class=" control">
                            <button class="button is-black" id="pp_update"><span class="icon icon-btn-in ">
                                    <i data-feather="refresh-cw"></i>
                                </span>Update</button>
                        </p>
                    </div>
                    <script>
                        $(document).ready(function () {
                            var options = [];
                            $.getJSON("{{url_for('get_trans_pp')}}", function (result) {
                                console.log(result)
                                for (var j = 0; j < Object.keys(result).length; j++) {
                                    options.push('<option value="',
                                        Object.keys(result)[j], '">',
                                        Object.values(result)[j], '</option>');
                                }
                                $("#pp_sel").html(options.join(''));
                            });
                        })
                    </script>
                    <script>
                        $('#pp_update').click(function (e) {
                            e.preventDefault();
                            var pp_num = $('#pp_sel').val();


                            $.getJSON("/get/trans_pp_b?pp_num=" + pp_num, function (result) {
                                console.log(result);

                                if ($.isEmptyObject(result)) {

                                    $('#show_noti').show();
                                    $('#trans_b_form').trigger("reset");
                                }
                                else {
                                    $('#show_noti').hide();
                                    var extra_fld = Object.keys(result['datefilter']).length;
                                    for (i = 11; i < extra_fld; i++) {
                                        $("#add_field_button_fg").trigger('click');
                                    }
                                    populate('#trans_b_form', json2html_name_list(result))

                                }
                            })
                        });

                        function json2html_name_list(json, result, parent) {
                            if (!result) result = {};
                            if (!parent) parent = '';
                            if ((typeof json) != 'object') {
                                result[parent] = json;
                            } else {
                                for (var key in json) {
                                    var value = json[key];
                                    if (parent == '') var subparent = key;
                                    else var subparent = parent + '[' + key + ']';
                                    result = json2html_name_list(value, result, subparent);
                                }
                            }
                            return result;
                        }

                        function populate(frm, data) {
                            $.each(data, function (key, value) {
                                $('[name="' + key + '"]', frm).val(value);
                            });
                        }
                    </script>
                </div>

            </nav>
            <hr>
            <div class="notification has-text-centered animated fadeIn" id="show_noti" style="display: none;">
                <p>Please do the required entry and submit the form.</p>
            </div>
            <div class="tracking_data">
                <form id="trans_b_form">
                    <div class="table-container">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Particulars</th>
                                    <th>Date</th>
                                    <th>Qty</th>
                                    <th>Location</th>
                                    <th>Remark</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="robo">Cutting</td>
                                    <td>
                                        <div class="control has-icons-left">
                                            <input class="input" id="cut_dat" name="datefilter[0]" value="">
                                            <span class="icon is-small is-left">
                                                <i data-feather="calendar"></i>
                                            </span>
                                        </div>
                                    </td>
                                    <td><input class="input" name="cut_qty"></td>
                                    <td><input class="input" name="cut_loc"></td>

                                    <td><input class="input" name="cut_rem"></td>

                                </tr>

                                <tr>
                                    <td class="robo">Stitching</td>
                                    <td>
                                        <div class="control has-icons-left">
                                            <input class="input" id="sth_dat" name="datefilter[1]" value="">
                                            <span class="icon is-small is-left">
                                                <i data-feather="calendar"></i>
                                            </span>
                                        </div>
                                    </td>
                                    <td><input class="input" name="sth_qty"></td>
                                    <td><input class="input" name="sth_loc"></td>

                                    <td><input class="input" name="sth_rem"></td>

                                </tr>

                                <tr>
                                    <td class="robo">Value Addition</td>
                                    <td>
                                        <div class="control has-icons-left">
                                            <input class="input" id="val_dat" name="datefilter[2]" value="">
                                            <span class="icon is-small is-left">
                                                <i data-feather="calendar"></i>
                                            </span>
                                        </div>
                                    </td>
                                    <td><input class="input" name="val_qty"></td>
                                    <td><input class="input" name="val_loc"></td>

                                    <td><input class="input" name="val_rem"></td>

                                </tr>
                                <tr>
                                    <td class="robo">Kaj - Button</td>
                                    <td>
                                        <div class="control has-icons-left">
                                            <input class="input" id="kaj_dat" name="datefilter[3]" value="">
                                            <span class="icon is-small is-left">
                                                <i data-feather="calendar"></i>
                                            </span>
                                        </div>
                                    </td>
                                    <td><input class="input" name="kaj_qty"></td>
                                    <td><input class="input" name="kaj_loc"></td>

                                    <td><input class="input" name="kaj_rem"></td>

                                </tr>

                                <tr>
                                    <td class="robo">Test Checking by HOD</td>
                                    <td>
                                        <div class="control has-icons-left">
                                            <input class="input" id="tes_dat" name="datefilter[4]" value="">
                                            <span class="icon is-small is-left">
                                                <i data-feather="calendar"></i>
                                            </span>
                                        </div>
                                    </td>
                                    <td><input class="input" name="tes_qty"></td>
                                    <td><input class="input" name="tes_loc"></td>

                                    <td><input class="input" name="tes_rem"></td>

                                </tr>

                                <tr>
                                    <td class="robo">Thread Cutting</td>
                                    <td>
                                        <div class="control has-icons-left">
                                            <input class="input" id="thr_dat" name="datefilter[5]" value="">
                                            <span class="icon is-small is-left">
                                                <i data-feather="calendar"></i>
                                            </span>
                                        </div>
                                    </td>
                                    <td><input class="input" name="thr_qty"></td>
                                    <td><input class="input" name="thr_loc"></td>

                                    <td><input class="input" name="thr_rem"></td>

                                </tr>

                                <tr>
                                    <td class="robo">Q.C / Measurement</td>
                                    <td>
                                        <div class="control has-icons-left">
                                            <input class="input" id="qc_dat" name="datefilter[6]" value="">
                                            <span class="icon is-small is-left">
                                                <i data-feather="calendar"></i>
                                            </span>
                                        </div>
                                    </td>
                                    <td><input class="input" name="qc_qty"></td>
                                    <td><input class="input" name="qc_loc"></td>

                                    <td><input class="input" name="qc_rem"></td>

                                </tr>
                                <tr>
                                    <td class="robo">Press</td>
                                    <td>
                                        <div class="control has-icons-left">
                                            <input class="input" id="pre_dat" name="datefilter[7]" value="">
                                            <span class="icon is-small is-left">
                                                <i data-feather="calendar"></i>
                                            </span>
                                        </div>
                                    </td>
                                    <td><input class="input" name="pre_qty"></td>
                                    <td><input class="input" name="pre_loc"></td>

                                    <td><input class="input" name="pre_rem"></td>

                                </tr>
                                <tr>
                                    <td class="robo">Tagging / Packing</td>
                                    <td>
                                        <div class="control has-icons-left">
                                            <input class="input" id="tag_dat" name="datefilter[8]" value="">
                                            <span class="icon is-small is-left">
                                                <i data-feather="calendar"></i>
                                            </span>
                                        </div>
                                    </td>
                                    <td><input class="input" name="tag_qty"></td>
                                    <td><input class="input" name="tag_loc"></td>

                                    <td><input class="input" name="tag_rem"></td>

                                </tr>

                                <tr>
                                    <td class="robo">Transfer to F.G Dept.</td>
                                    <td>
                                        <div class="control has-icons-left">
                                            <input class="input" id="tra_dat" name="datefilter[9]" value="">
                                            <span class="icon is-small is-left">
                                                <i data-feather="calendar"></i>
                                            </span>
                                        </div>
                                    </td>
                                    <td><input class="input" name="tra_qty"></td>
                                    <td><input class="input" name="tra_loc"></td>

                                    <td><input class="input" name="tra_rem"></td>

                                </tr>
                            </tbody>
                        </table>
                        <hr>
                        <p class="robo is-size-5">Details of goods transferred to F.G Dept</p>
                        <hr>
                        <div class="input_fields_wrap_fg">
                            <div id="fg-form-0" class="notification">
                                <div class="field is-horizontal">
                                    <div class="field-label is-normal">
                                        <label class="label">Date </label>
                                    </div>
                                    <div class="field-body">
                                        <div class="field">
                                            <div class="control has-icons-left">
                                                <input class="input" name="datefilter[10]" value="">
                                                <span class="icon is-small is-left">
                                                    <i data-feather="calendar"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="field is-horizontal">
                                    <div class="field-label is-normal">
                                        <label class="label">Size/Design </label>
                                    </div>
                                    <div class="field-body">
                                        <div class="field">
                                            <p class="control is-expanded">
                                                <input class="input" type="text" name="s_0_0" placeholder="Size">
                                            </p>
                                        </div>
                                        <div class="field">
                                            <p class="control is-expanded">
                                                <input class="input" type="text" name="s_0_1" placeholder="Size">
                                            </p>
                                        </div>
                                        <div class="field">
                                            <p class="control is-expanded">
                                                <input class="input" type="text" name="s_0_2" placeholder="Size">
                                            </p>
                                        </div>
                                        <div class="field">
                                            <p class="control is-expanded">
                                                <input class="input" type="text" name="s_0_3" placeholder="Size">
                                            </p>
                                        </div>
                                        <div class="field">
                                            <p class="control is-expanded">
                                                <input class="input" type="text" name="s_0_4" placeholder="Size">
                                            </p>
                                        </div>
                                        <div class="field">
                                            <p class="control is-expanded">
                                                <input class="input" type="text" name="s_0_5" placeholder="Size">
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="field is-horizontal">
                                    <div class="field-label is-normal">
                                        <label class="label">Qty </label>
                                    </div>
                                    <div class="field-body">
                                        <div class="field">
                                            <p class="control is-expanded">
                                                <input class="input" type="text" name="q_0_0" placeholder="Qty">
                                            </p>
                                        </div>
                                        <div class="field">
                                            <p class="control is-expanded">
                                                <input class="input" type="text" name="q_0_1" placeholder="Qty">
                                            </p>
                                        </div>
                                        <div class="field">
                                            <p class="control is-expanded">
                                                <input class="input" type="text" name="q_0_2" placeholder="Qty">
                                            </p>
                                        </div>
                                        <div class="field">
                                            <p class="control is-expanded">
                                                <input class="input" type="text" name="q_0_3" placeholder="Qty">
                                            </p>
                                        </div>
                                        <div class="field">
                                            <p class="control is-expanded">
                                                <input class="input" type="text" name="q_0_4" placeholder="Qty">
                                            </p>
                                        </div>
                                        <div class="field">
                                            <p class="control is-expanded">
                                                <input class="input" type="text" name="q_0_5" placeholder="Qty">
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <button class="is-primary button" id="add_field_button_fg"><span class="icon icon-btn-in">
                                <i data-feather="plus"></i>
                            </span>Add More</button>
                    </div>

                    <hr>
                    <div class="field is-grouped">
                        <div class="control">
                            <button id="submit_btn_trans_b" class="button is-black robo"><span
                                    class="icon icon-btn-in"><i data-feather="check"></i></span>Submit</button>
                        </div>

                        <div class="control ">
                            <a class="button is-text">Clear Fields</a>
                        </div>

                        <div class="control">
                            <button class="button is-danger robo" id="close_btn_trans_b"><span
                                    class="icon icon-btn-in"><i data-feather="x"></i></span>Close Report</button>
                        </div>
                        <script>
                            $('#close_btn_trans_b').click(function (e) {
                                e.preventDefault();

                                var payload = { 'pp_num': $('#pp_sel').val() };

                                $.ajax({
                                    url: "{{url_for('close_trans')}}",
                                    type: 'POST',
                                    data: JSON.stringify(payload),
                                    contentType: 'application/json; charset=utf-8',
                                    dataType: 'json',
                                    async: true,
                                    success: function (msg) {
                                        window.location.href = "{{url_for('trans_b')}}";
                                    }
                                });

                            });
                        </script>
                    </div>
                    <hr>

                </form>
            </div>

        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var max_fields = 10; //maximum input boxes allowed
        var wrapper_fg = $(".input_fields_wrap_fg"); //Fields wrapper
        var add_button_fg = $("#add_field_button_fg"); //Add button ID

        var x = 0; //initlal text box count
        var y = 11; // datefilter count
        $(add_button_fg).click(function (e) { //on add input button click
            console.log("clicked")
            e.preventDefault();
            if (x < max_fields) { //max input box allowed
                x++; //text box increment
                $(wrapper_fg).append(`
                <div id="fg-form-0" class="notification">
                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                    <label class="label">Date </label>
                                </div>
                                <div class="field-body">
                                    <div class="field">
                                        <div class="control has-icons-left">
                                            <input class="input" name="datefilter[`+ y + `]" value="">
                                            <span class="icon is-small is-left">
                                                <i data-feather="calendar"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                    <label class="label">Size/Design </label>
                                </div>
                                <div class="field-body">
                                    <div class="field">
                                        <p class="control is-expanded">
                                            <input class="input" type="text" name="s_`+ x + `_0" placeholder="Size">
                                        </p>
                                    </div>
                                    <div class="field">
                                        <p class="control is-expanded">
                                            <input class="input" type="text" name="s_`+ x + `_1" placeholder="Size">
                                        </p>
                                    </div>
                                    <div class="field">
                                        <p class="control is-expanded">
                                            <input class="input" type="text" name="s_`+ x + `_2" placeholder="Size">
                                        </p>
                                    </div>
                                    <div class="field">
                                        <p class="control is-expanded">
                                            <input class="input" type="text" name="s_`+ x + `_3" placeholder="Size">
                                        </p>
                                    </div>
                                    <div class="field">
                                        <p class="control is-expanded">
                                            <input class="input" type="text" name="s_`+ x + `_4" placeholder="Size">
                                        </p>
                                    </div>
                                    <div class="field">
                                        <p class="control is-expanded">
                                            <input class="input" type="text"  name="s_`+ x + `_5" placeholder="Size">
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                    <label class="label">Qty </label>
                                </div>
                                <div class="field-body">
                                    <div class="field">
                                        <p class="control is-expanded">
                                            <input class="input" type="text" name="q_`+ x + `_0" placeholder="Qty">
                                        </p>
                                    </div>
                                    <div class="field">
                                        <p class="control is-expanded">
                                            <input class="input" type="text" name="q_`+ x + `_1" placeholder="Qty">
                                        </p>
                                    </div>
                                    <div class="field">
                                        <p class="control is-expanded">
                                            <input class="input" type="text" name="q_`+ x + `_2" placeholder="Qty">
                                        </p>
                                    </div>
                                    <div class="field">
                                        <p class="control is-expanded">
                                            <input class="input" type="text" name="q_`+ x + `_3" placeholder="Qty">
                                        </p>
                                    </div>
                                    <div class="field">
                                        <p class="control is-expanded">
                                            <input class="input" type="text" name="q_`+ x + `_4" placeholder="Qty">
                                        </p>
                                    </div>
                                    <div class="field">
                                        <p class="control is-expanded">
                                            <input class="input" type="text" name="q_`+ x + `_5" placeholder="Qty">
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="field control">
                                
                            <a class="button remove_field">Remove</a>
                            </div>
                        </div>
                
                `);
                y++;

            }

            $(function () {

                $('input[name*="datefilter"]').daterangepicker({
                    "locale": {
                        "format": "MM/DD/YYYY"
                    },
                    singleDatePicker: true,
                    autoUpdateInput: false,
                    locale: {
                        cancelLabel: 'Clear'
                    }
                });

                $('input[name*="datefilter"]').on('apply.daterangepicker', function (ev, picker) {
                    $(this).val(picker.startDate.format('DD/MM/YYYY'));
                });

                $('input[name*="datefilter"]').on('cancel.daterangepicker', function (ev, picker) {
                    $(this).val('');
                });

            });

            feather.replace();
        });

        $(wrapper_fg).on("click", ".remove_field", function (e) { //user click on remove text
            e.preventDefault();
            $(this).parent('div').parent('div').remove(); x--;
        })

    });
</script>
<script type="text/javascript">

    $(function () {

        $('input[name*="datefilter"]').daterangepicker({
            "locale": {
                "format": "DD/MM/YYYY"
            },
            singleDatePicker: true,
            autoUpdateInput: false,
            locale: {
                cancelLabel: 'Clear'
            }
        });

        $('input[name*="datefilter"]').on('apply.daterangepicker', function (ev, picker) {
            $(this).val(picker.startDate.format('DD/MM/YYYY'));
        });

        $('input[name*="datefilter"]').on('cancel.daterangepicker', function (ev, picker) {
            $(this).val('');
        });



    });
</script>

<script>

    $('#submit_btn_trans_b').click(function (e) {
        e.preventDefault();

        var formdata = $("#trans_b_form").serializeJSON();


        console.log(formdata);

        var payload = { 'pp_num': $('#pp_sel').val(), 'data': formdata };

        $.ajax({
            url: "{{url_for('trans_b')}}",
            type: 'POST',
            data: JSON.stringify(payload),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            async: true,
            success: function (msg) {
                window.location.href = "{{url_for('trans_b')}}";
            }
        });

    });
</script>
{% endblock %}