{% extends 'base.html' %}
{% block content %}

<!-- Date picker Script -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<!-- End imports -->

<div class="container" style="margin-top: 5rem;">

    <div class="columns is-mobile is-centered">
        <div class="column is-three-quarters">
            <nav class="level is-mobile">
                <div class="level-left">

                    <div class="level-item">
                        <p class="is-size-5 ">
                            <span class="robo ">Transaction - </span> Part A</p>
                    </div>
                </div>

            </nav>
            <hr>
            <div class="">
                <div class="form">
                    <form id="trans_a_form">
                        <div class="field-body is-horizontal">
                            <div class="field">
                                <label class="label">Product Order No.</label>
                                <div class="control has-icons-left">
                                    <input class="input robo" name="PP_no" value="{{pp_num}}" disabled>
                                    <span class="icon icon-btn-in is-left">
                                        <i data-feather="hash"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Date</label>
                                <div class="control has-icons-left">
                                    <input class="input" name="dates">
                                    <span class="icon is-small is-left">
                                        <i data-feather="calendar"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="field-body is-horizontal">
                            <div class="field">
                                <label class="label">Product</label>
                                <div class="control is-fullwidth select">
                                    <select id="prod_sel" name="prod_sel"></select>
                                </div>
                            </div>
                            <script>
                                $(document).ready(function () {
                                    var options = [];
                                    $.getJSON("{{url_for('get_raw_prod')}}", function (result) {
                                        console.log(result)
                                        var leng = Object.keys(result).length
                                        for (var i = 1; i <= leng; i++) {
                                            console.log(result[i])
                                            options.push('<option value="',
                                                result[i], '">',
                                                result[i], '</option>');
                                        }
                                        $("#prod_sel").html(options.join(''));
                                    });
                                })
                            </script>
                            <div class="field">
                                <label class="label">Prog. Qty</label>
                                <div class="control">
                                    <input class="input" name="prog_qty">

                                </div>
                            </div>

                            <div class="field">
                                <label class="label">U.O.M</label>
                                <div class="control">
                                    <div class="control is-fullwidth select">
                                        <select id="prod_uom" name="prod_uom"></select>
                                    </div>
                                    <script>
                                        $(document).ready(function () {
                                            var options = [];
                                            $.getJSON("{{url_for('get_uom')}}", function (result) {
                                                for (var j = 0; j < Object.keys(result).length; j++) {
                                                    options.push('<option value="',
                                                        Object.keys(result)[j], '">',
                                                        Object.keys(result)[j], '</option>');
                                                }
                                                $("#prod_uom").html(options.join(''));
                                            });
                                        })
                                    </script>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Original Sample</label>
                                <div class="control">
                                    <label class="radio">
                                        <input type="radio" name="samp_iss" value="yes">
                                        Yes
                                    </label>
                                    <label class="radio">
                                        <input type="radio" name="samp_iss" value="no">
                                        No
                                    </label>

                                </div>
                            </div>

                        </div>
                        <hr>
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Programme By</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <p class="control is-expanded has-icons-left">
                                        <input class="input" type="text" placeholder="Name" name="prog_by">
                                        <span class="icon  is-left">
                                            <i data-feather="user"></i>
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Size/Design </label>
                            </div>
                            <div class="field-body" id="size_fld">
                                <div class="field">
                                    <p class="control is-expanded">
                                        <input class="input" type="text" name="s_0" placeholder="Size">
                                    </p>
                                </div>
                                <div class="field">
                                    <p class="control is-expanded">
                                        <input class="input" type="text" name="s_1" placeholder="Size">
                                    </p>
                                </div>
                                <div class="field">
                                    <p class="control is-expanded">
                                        <input class="input" type="text" name="s_2" placeholder="Size">
                                    </p>
                                </div>
                                <div class="field">
                                    <p class="control is-expanded">
                                        <input class="input" type="text" name="s_3" placeholder="Size">
                                    </p>
                                </div>
                                <div class="field">
                                    <p class="control is-expanded">
                                        <input class="input" type="text" name="s_4" placeholder="Size">
                                    </p>
                                </div>
                                <div class="field">
                                    <p class="control is-expanded">
                                        <input class="input" type="text" name="s_5" placeholder="Size">
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Qty </label>
                            </div>
                            <div class="field-body" id="qty_fld">
                                <div class="field">
                                    <p class="control is-expanded">
                                        <input class="input" type="text" name="q_0" placeholder="Qty">
                                    </p>
                                </div>
                                <div class="field">
                                    <p class="control is-expanded">
                                        <input class="input" type="text" name="q_1" placeholder="Qty">
                                    </p>
                                </div>
                                <div class="field">
                                    <p class="control is-expanded">
                                        <input class="input" type="text" name="q_2" placeholder="Qty">
                                    </p>
                                </div>
                                <div class="field">
                                    <p class="control is-expanded">
                                        <input class="input" type="text" name="q_3" placeholder="Qty">
                                    </p>
                                </div>
                                <div class="field">
                                    <p class="control is-expanded">
                                        <input class="input" type="text" name="q_4" placeholder="Qty">
                                    </p>
                                </div>
                                <div class="field">
                                    <p class="control is-expanded">
                                        <input class="input" type="text" name="q_5" placeholder="Qty">
                                    </p>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <p class="robo">Raw Material Required</p>
                        <br>

                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Fabric</th>
                                    <th>Per Pc. Consum.</th>
                                    <th>Qty Required</th>
                                    <th>Qty Issued</th>
                                    <th>Qty Return</th>
                                    <th>Net Consum.</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody class="input_fields_wrap_fab">
                                <tr>
                                    <td>
                                        <div class="select"><select id="fab_selector" class="fab_sel_cls"
                                                name="fab_sel_0">

                                            </select>
                                        </div>
                                    </td>
                                    <td><input type="text" class="input" name="fab_pr_pc_0" /></td>
                                    <td><input type="text" class="input" name="fab_qty_req_0" /></td>
                                    <td><input type="text" class="input" name="fab_qty_iss_0" /></td>
                                    <td><input type="text" class="input" name="fab_qty_ret_0" /></td>
                                    <td><input type="text" class="input" name="fab_net_con_0" /></td>
                                    <td><a class="button is-text remove_field">Remove</a></td>
                                </tr>
                                <script>
                                    $(document).ready(function () {
                                        var options = [];
                                        $.getJSON("{{url_for('get_fin_prod')}}", function (result) {
                                            var leng = Object.keys(result).length
                                            for (var i = 0; i < leng; i++) {
                                                options.push('<option value="',
                                                    Object.keys(result)[i], '">',
                                                    Object.keys(result)[i], '</option>');
                                            }
                                            $(".fab_sel_cls").html(options.join(''));
                                        });
                                    })
                                </script>
                            </tbody>
                        </table>
                        <button id="add_field_button_fab" class=" button is-primary"><span class="icon icon-btn-in"><i
                                    data-feather="plus"></i></span>Add More</button>


                        <br>

                        <br>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Accessories</th>
                                    <th>Per Pc. Consum.</th>
                                    <th>Qty Required</th>
                                    <th>Qty Issued</th>
                                    <th>Qty Return</th>
                                    <th>Net Consum.</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody class="input_fields_wrap_acc">
                                <tr>
                                    <td>
                                        <div class="select"><select id="acc_seletion" class="acc_selector"
                                                name="acc_sel_0">

                                            </select>
                                        </div>
                                    </td>
                                    <td><input type="text" class="input" name="acc_pr_pc_0" /></td>
                                    <td><input type="text" class="input" name="acc_qty_req_0" /></td>
                                    <td><input type="text" class="input" name="acc_qty_iss_0" /></td>
                                    <td><input type="text" class="input" name="acc_qty_ret_0" /></td>
                                    <td><input type="text" class="input" name="acc_net_con_0" /></td>
                                    <td><a class="button is-text remove_field">Remove</a></td>
                                </tr>
                                <script>
                                    $(document).ready(function () {
                                        var options = [];
                                        $.getJSON("{{url_for('get_acc')}}", function (result) {
                                            for (var j = 0; j < Object.keys(result).length; j++) {
                                                options.push('<option value="',
                                                    Object.keys(result)[j], '">',
                                                    Object.keys(result)[j], '</option>');
                                            }
                                            $(".acc_selector").html(options.join(''));
                                        });

                                    })
                                </script>
                            </tbody>
                        </table>
                        <button id="add_field_button_acc" class=" button is-primary"><span class="icon icon-btn-in"><i
                                    data-feather="plus"></i></span>Add More</button>


                        <br>
                        <br>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Other Materials</th>
                                    <th>Per Pc. Consum.</th>
                                    <th>Qty Required</th>
                                    <th>Qty Issued</th>
                                    <th>Qty Return</th>
                                    <th>Net Consum.</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody class="input_fields_wrap_oth">
                                <tr>
                                    <td>
                                        <div class="select"><select class="oth_selector" name="oth_sel_0">

                                            </select>
                                        </div>
                                    </td>
                                    <td><input type="text" class="input" name="oth_pr_pc_0" /></td>
                                    <td><input type="text" class="input" name="oth_qty_req_0" /></td>
                                    <td><input type="text" class="input" name="oth_qty_iss_0" /></td>
                                    <td><input type="text" class="input" name="oth_qty_ret_0" /></td>
                                    <td><input type="text" class="input" name="oth_net_con_0" /></td>
                                    <td><a class="button is-text remove_field">Remove</a></td>
                                </tr>
                                <script>
                                    $(document).ready(function () {
                                        var options = [];
                                        $.getJSON("{{url_for('get_oth_mat')}}", function (result) {
                                            for (var j = 0; j < Object.keys(result).length; j++) {
                                                options.push('<option value="',
                                                    Object.keys(result)[j], '">',
                                                    Object.keys(result)[j], '</option>');
                                            }
                                            $(".oth_selector").html(options.join(''));
                                        });
                                    })
                                </script>
                            </tbody>
                        </table>
                        <button id="add_field_button_oth" class=" button is-primary"><span class="icon icon-btn-in"><i
                                    data-feather="plus"></i></span>Add More</button>


                        <br>
                        <br>
                        <hr>
                        <div class="field is-grouped">
                            <div class="control">
                                <button id="submit_btn_trans_a" class="button is-black robo"><span
                                        class="icon icon-btn-in"><i data-feather="check"></i></span>Submit</button>
                            </div>
                            <div class="control">
                            </div>
                            <div class="control ">
                                <a class="button is-text">Clear Fields</a>
                            </div>

                        </div>

                    </form>
                </div>
            </div>
        </div>


    </div>

</div>

<br>
<br>

<script>

    $('#submit_btn_trans_a').click(function (e) {
        e.preventDefault();

        var data = $("#trans_a_form").serializeJSON();
       

        $.ajax({
            url: "{{url_for('trans_a')}}",
            type: 'POST',
            data: JSON.stringify(data),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            async: false,
            success: function (msg) {
                window.location.href = "{{url_for('trans_a')}}";
            }
        });
        
    });
</script>
<script>

    $('input[name="dates"]').daterangepicker({ buttonClasses: 'button', applyButtonClasses: 'is-primary', cancelButtonClasses: 'is-text' });

    $(document).ready(function () {
        var max_fields = 10; //maximum input boxes allowed
        var wrapper_fab = $(".input_fields_wrap_fab"); //Fields wrapper
        var add_button_fab = $("#add_field_button_fab"); //Add button ID

        var x = 1; //initlal text box count
        $(add_button_fab).click(function (e) { //on add input button click
            console.log("clicked")
            e.preventDefault();
            if (x < max_fields) { //max input box allowed
                x++; //text box increment
                $(wrapper_fab).append('<tr> \
                    <td><div class="select"><select  class="fab_sel_cls" name="fab_sel_'+ x + '"></select></div></td>\
                    <td><input type="text" class="input" name="fab_pr_pc_'+ x + '"/></td>\
                    <td><input type="text" class="input" name="fab_qty_req_'+ x + '"/></td> \
                    <td><input type = "text" class= "input" name = "fab_qty_iss_'+ x + '" /></td>\
                    <td><input type="text" class="input" name="fab_qty_ret_'+ x + '" /></td>\
                    <td><input type="text" class="input" name="fab_net_con_'+ x + '" /></td>\
                    <td><a href="#" class="button is-text remove_field">Remove</a></td></tr> ');
            }

            var options = [];
            $.getJSON("{{url_for('get_fin_prod')}}", function (result) {
                for (var j = 0; j < Object.keys(result).length; j++) {
                    options.push('<option value="',
                        Object.keys(result)[j], '">',
                        Object.keys(result)[j], '</option>');
                }
                $(".fab_sel_cls").html(options.join(''));
            });
        });

        $(wrapper_fab).on("click", ".remove_field", function (e) { //user click on remove text
            e.preventDefault();
            $(this).parent('td').parent('tr').remove(); x--;
        })
    });


    $(document).ready(function () {
        var max_fields = 10; //maximum input boxes allowed
        var wrapper_acc = $(".input_fields_wrap_acc"); //Fields wrapper
        var add_button_acc = $("#add_field_button_acc"); //Add button ID

        var x = 1; //initlal text box count
        $(add_button_acc).click(function (e) { //on add input button click
            console.log("clicked")
            e.preventDefault();
            if (x < max_fields) { //max input box allowed
                x++; //text box increment
                $(wrapper_acc).append('<tr> \
                    <td><div class="select"><select class="acc_selector" name="acc_sel_'+ x + '"></select></div></td>\
                    <td><input type="text" class="input" name="acc_pr_pc_'+ x + '"/></td>\
                    <td><input type="text" class="input" name="acc_qty_req_'+ x + '"/></td> \
                    <td><input type = "text" class= "input" name = "acc_qty_iss_'+ x + '" /></td>\
                    <td><input type="text" class="input" name="acc_qty_ret_'+ x + '" /></td>\
                    <td><input type="text" class="input" name="acc_net_con_'+ x + '" /></td>\
                    <td><a href="#" class="button is-text remove_field">Remove</a></td></tr> ');
            }


            var options = [];
            $.getJSON("{{url_for('get_acc')}}", function (result) {
                for (var j = 0; j < Object.keys(result).length; j++) {
                    options.push('<option value="',
                        Object.keys(result)[j], '">',
                        Object.keys(result)[j], '</option>');
                }
                $(".acc_selector").html(options.join(''));
            });

        });

        $(wrapper_acc).on("click", ".remove_field", function (e) { //user click on remove text
            e.preventDefault();
            $(this).parent('td').parent('tr').remove(); x--;
        })
    });


    $(document).ready(function () {
        var max_fields = 10; //maximum input boxes allowed
        var wrapper_oth = $(".input_fields_wrap_oth"); //Fields wrapper
        var add_button_oth = $("#add_field_button_oth"); //Add button ID

        var x = 1; //initlal text box count
        $(add_button_oth).click(function (e) { //on add input button click
            console.log("clicked")
            e.preventDefault();
            if (x < max_fields) { //max input box allowed
                x++; //text box increment
                $(wrapper_oth).append('<tr> \
                    <td><div class="select"><select class="oth_selector" name="oth_sel_'+ x + '"></select></div></td>\
                    <td><input type="text" class="input" name="oth_pr_pc_'+ x + '"/></td>\
                    <td><input type="text" class="input" name="oth_qty_req_'+ x + '"/></td> \
                    <td><input type = "text" class= "input" name = "oth_qty_iss_'+ x + '" /></td>\
                    <td><input type="text" class="input" name="oth_qty_ret_'+ x + '" /></td>\
                    <td><input type="text" class="input" name="oth_net_con_'+ x + '" /></td>\
                    <td><a href="#" class="button is-text remove_field">Remove</a></td></tr> ');
            }
            var options = [];
            $.getJSON("{{url_for('get_oth_mat')}}", function (result) {
                for (var j = 0; j < Object.keys(result).length; j++) {
                    options.push('<option value="',
                        Object.keys(result)[j], '">',
                        Object.keys(result)[j], '</option>');
                }
                $(".oth_selector").html(options.join(''));
            });
        });

        $(wrapper_oth).on("click", ".remove_field", function (e) { //user click on remove text
            e.preventDefault();
            $(this).parent('td').parent('tr').remove(); x--;
        })
    });
</script>
{% endblock %}